.skill-section {
  background: linear-gradient(90deg, #28283d, #34344f);
  color: white;
  padding: 100px 20px;
  min-height: 100vh;
}

.skill-section h2 {
  font-size: 36px;
  color: #ff6b35;
  margin-bottom: 50px;
  text-align: center;
}

.skill-columns {
  display: flex;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-column {
  flex: 1;
  min-width: 250px;
}

.skill-column h3 {
  font-size: 28px;
  color: #ff6b35;
  margin-bottom: 30px;
  text-align: center;
}

.skill-circle-container {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 skills per row */
  gap: 15px;
  justify-items: center;
}

.skill-circle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.circle-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.bg-circle {
  fill: none;
  stroke: #2d2d44;
  stroke-width: 10;
}

.progress-circle {
  fill: none;
  stroke: #ff6b35;
  stroke-width: 10;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1.5s ease-in-out;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: white;
}

.skill-name {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f7f6f6;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .skill-columns {
    flex-direction: column;
    gap: 30px;
  }
     .skill-circle-container {
    grid-template-columns: repeat(2, 1fr); /* keep 2 per row on mobile */
    gap:15px; /* smaller gap for mobile */
  }
}
